@{
    ViewData["Title"] = "Новости";
}
<div class="container" style="padding-bottom:100px">
    <h1 class="text-center" style="margin-left:30px; margin-top:35px; width: 842px; height: 132px; left: 230px; top: 125px; font-family: 'Kyiv*Type Titling'; font-style: normal; font-weight: 350; font-size: 40px; line-height: 48px; color: #FFFFFF;">
        Почему так больнА
    </h1>
    @* <div class="col-xxl-5"> *@
    <div class="news-block" style="background-color: #602F61; width: 70%; height: 250px; margin-top: 35px; border: 4px solid black;">
        <img style="float:right; border-left: 4px solid black" src="~/images/news0.jpg" alt="Изображение новости" class="news-image" height="242" width="400">
            <div class="news-content" style="padding:10px">
                <h2 class="news-title" style="color:white">Чарло подорожало</h2>
            <p class="news-text" style="color:white">В хит-экспрессе чернила "Яблоки на снегу" подорожали на 50 копеек. Теперь они стоят 2.78</p>
            </div>
        </div>
    <div class="news-block" style="background-color: #602F61; width: 70%; height: 250px; margin-top: 35px; border: 4px solid black;">
        <img style="float:right; border-left: 4px solid black" src="~/images/news0.jpg" alt="Изображение новости" class="news-image" height="242" width="400">
            <div class="news-content" style="padding:10px">
                <h2 class="news-title" style="color:white">Чарло подорожало</h2>
                <p class="news-text" style="color:white">В хит-экспрессе чернила "Яблоки на снегу" подорожали на 50 копеек. Теперь они стоят 2.78</p>
            </div>
        </div>
    <div class="news-block" style="background-color: #602F61; width: 70%; height: 250px; margin-top: 35px; border: 4px solid black;">
        <img style="float:right; border-left: 4px solid black" src="~/images/news0.jpg" alt="Изображение новости" class="news-image" height="242" width="400">
            <div class="news-content" style="padding:10px">
                <h2 class="news-title" style="color:white">Чарло подорожало</h2>
                <p class="news-text" style="color:white">В хит-экспрессе чернила "Яблоки на снегу" подорожали на 50 копеек. Теперь они стоят 2.78</p>
            </div>
        </div>
        @* <div class="news-block" style="background-color: #fff;">
            <img src="path/to/image.jpg" alt="Изображение новости" class="news-image">
            <div class="news-content">
                <h2 class="news-title">Заголовок новости</h2>
                <p class="news-text">Текст новости здесь...</p>
            </div>
        </div> *@
    @* </div> *@
</div>