@{
    ViewData["Title"] = "Выбраное бырло";
}
<div class="container" style="padding-bottom:100px;">
    <h1 style="margin-top:35px; color:white; padding-bottom:35px; font-size:40px;">
        Чернила
    </h1>
    <div class="product-details">
        <div class="product-image">
            <img style="height:600px; width:500px; border: 3px solid black;" src="~/images/зимнееяблоко.jpg" alt="Изображение товара">
        </div>
        <div class="product-info">
            <h2 style="font-size:60px; padding-bottom:35px; text-align:center">Яблоки на снегу</h2>
            <p style="font-size:20px; text-align:left;">
                Вино "Яблоки на снегу" выделяется среди других вин своей уникальностью и эксклюзивностью. Это не просто напиток, это вкус зимнего леса в каждом глотке, благодаря чему оно становится идеальным выбором для ценителей качественных вин, ищущих что-то новое и неповторимое. Производство осуществляется с использованием натуральных ингредиентов, что гарантирует высокое качество и эксклюзивность продукта. Вино "Яблоки на снегу" не просто удовлетворяет потребность в вкусном и качественном алкоголе, но и добавляет нотку роскоши и индивидуальности в повседневную жизнь. Его использование позволяет создавать незабываемые моменты, делая каждый прием пищи или вечеринку незабываемыми.
            </p>
        </div>
    </div>
    <div class="mt-4 ml-5" style="color:white; margin-left:200px;">
        <h3 style="font-size:30px; padding-bottom:14px;">Характеристики</h3>
        <ul class="list-unstyled" style="font-size:19px;">
            <li><strong>Цена:</strong> 2,5</li>
            <li><strong>Блевотность:</strong> 12/10</li>
            <li><strong>Объем:</strong> 0.7л или 1л</li>
            <li><strong>Магазины:</strong> Хит-Экспресс, Копеечка, Грошык, Светофор</li>
        </ul>
    </div>
</div>