@{
    ViewData["Title"] = "Главная";
}
@* position: absolute делает так, как будто элемента нет, то есть наверх его
могут распологаться другие элементы
z-index: -1 сдвигает элемент на слой ниже других элементов *@
@* <img src="~/images/red.png" style="position: absolute;z-index: -1;">
<img src="~/images/green.png" style="position: absolute; z-index: -1; top: 0; right: 0;"> *@
<div class="container" style="padding-bottom:100%">
    <h1 style="position: absolute; width: 842px; height: 132px; left: 230px;top: 125px; font-family: 'Kyiv*Type Titling'; font-style: normal; font-weight: 350; font-size: 40px; line-height: 48px; color: #FFFFFF;">
        Чернила это афигено вкусно и полезно.<br>Кто их не пьет тот не пьет моих<br>страданий
    </h1>
    <p style="position: absolute;
width: 549px;
height: 106px;
left: 77px;
top: 432px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #FFFFFF;">
        Сайт Чернила.by представляет собой интернет-ресурс для ценителей<br>плодово-ягодного напитка.
    </p>
    <p style="position: absolute;
width: 573px;
height: 130px;
left: 850px;
top: 708px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #FFFFFF;">
        Здесь вы всегда будете в курсе выхода новых чернил на полках отечественных магазинов, а именно в каком магазине есть полюбившийся вами напиток и за какую цену.
    </p>
    <p style="position: absolute;
width: 529px;
height: 130px;
left: 110px;
top: 1191px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #FFFFFF;">
        Вы не почувствуете себя одиноким, так как на сайте есть страница форум, на которой есть много различных обсуждений с полезной информацией
    </p>
</div>
