@* этот файл является начальной надстройкой для всех представлений *@
@{
    Layout = "_Layout";
}
@* все что есть в этом файле будет касаться всех представлений *@
@* <h1>загаловок из ViewStart</h1> *@
