<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Чернила.by</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPFirst.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Чернилаbyлого-removebg-preview.png" alt="Чернила.by логотип"></a>
        <nav>
            <ul>
                @* грубоговоря чтобы перейти по ссылке Home/Index нужно прописать
                asp-area="" asp-controller="Home" asp-action="Index"
                *@
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-area="" asp-controller="Chernila" asp-action="Index">Чернила</a></li>
                <li><a asp-area="" asp-controller="News" asp-action="Index">Новости</a></li>
                <li><a href="#">Форум(обсуждения)</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @* style="background-image: url('/images/fontimage.png'); background-size: contain;background-repeat: no-repeat;" *@
        @RenderBody()
    </main>
    <footer>

        <p style="color:white; font-size:25px; font-family: 'Kyiv*Type Titling';">и только попробуй сказать что чернила говно</p>@* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
